{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base51/styles.css' %}">
</head>
<body>
<div class="header-panel">
    <nav>
        <ul class="nav-links">
            {% if user.is_authenticated %}
                <li><a href="{% url 'upload_form' %}">Upload</a></li>
                <li><a href="{% url 'display_senders' %}">Message Senders</a></li>
                <li><a href="{% url 'send_message' %}">Send Message</a></li>
                <li><a href="{% url 'logout' %}">Sign Out</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
<div class="content">
    <div class="page-container">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>
