{% extends 'base.html' %}
{% load static %}

{% block title %}
    Display Data
{% endblock %}

{% block page_title %}
    <h1>Customer Details</h1>
{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Cellphone</th>
        </tr>
        </thead>
        <tbody>
        {% for number in phone_numbers %}
            <tr>
                <td class="cellphone">{{ number }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="button-container">
        <button type="button">Send text to all</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('button').click(function () {
                var phoneNumbers = [];
                $('td.cellphone').each(function () {
                    phoneNumbers.push($(this).text());
                });

                // Make an AJAX request to trigger the SMS functionality
                $.ajax({
                    type: 'POST',
                    url: '{% url "send_sms" %}',  // Updated URL
                    data: {
                        'phone_numbers[]': phoneNumbers,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        // Handle the success response here
                        console.log('SMS messages sent successfully!');
                    },
                    error: function (xhr, status, error) {
                        // Handle the error response here
                        console.error('Error sending SMS messages:', error);
                    }
                });
            });
        });
    </script>
{% endblock %}
